
<ion-content>
 <ion-header>
     <ion-title> Conseils de prévention</ion-title>
 </ion-header>
   <ion-list >
       <ion-item lines="none"> 
        <ion-avatar slot="start">
            <ion-img src="https://cdn2.iconfinder.com/data/icons/pictograms-5-1/50/419-512.png"></ion-img>
        </ion-avatar>
        Se laver fréquemment les mains.
       </ion-item>
       <ion-item lines="none">
        <ion-avatar slot="start">
            <ion-img src="https://www.kindpng.com/picc/m/74-741571_transparent-relationship-icon-png-interpersonal-relations-png-png.png"></ion-img>
        </ion-avatar>
        Éviter les contacts proches.
       </ion-item >
       <ion-item lines="none">
        <ion-avatar slot="start">
            <ion-img src="https://cdn4.iconfinder.com/data/icons/washing-hand-flat-pack/64/20-Rub_the_eyes-512.png"></ion-img>
        </ion-avatar>
        Éviter de se toucher les yeux, le nez et la bouche.
       </ion-item>
       <ion-item lines="none">
        <ion-avatar slot="start">
            <ion-img src="https://banner2.cleanpng.com/20180616/fhy/kisspng-snowflake-crystal-pikusuta-snow-cristal-5b24cf048761b3.6393357915291389485545.jpg"></ion-img>
        </ion-avatar>
        Respecter les règles d’hygiène respiratoire.
       </ion-item>
       
      
   </ion-list>
        <ion-item id="con" lines="none">
            Mieux vaut prévenir que guérir<ion-icon name="medical" style="color: #ff2e63"></ion-icon>
       </ion-item>
   </ion-content>   