 <!-- <div style="text-align:center">
  <router-outlet></router-outlet>
  <div class="chart-diplay">
    <div style="width: 100%">
      <canvas id="bar"></canvas>
    </div>

    <div style="width: 100%">
      <canvas id="doughnut"></canvas>
    </div>
  </div>
</div> -->
<!-- <div id="divChart">
  <canvas id="myChart"></canvas>
  <canvas id="doughnut"></canvas>
</div> -->
<div style="text-align:center">
  <!-- <canvas  id="lineChart" ></canvas> -->
    <canvas  id="barChart"></canvas>
    <canvas id="pieChart"></canvas>
    <canvas id="pieChart2"></canvas>
</div>
