ion-content{
  --ion-background-color:#C1D0DA;
}
.card-body {
  background-color: white;
  color: black !important;
  margin-top: 15%;

  border: 2px solid #1A10AF;
}
ion-card-title{
  text-align: center;
  margin-top: 0%;
  background-color: #1A10AF;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 27px;
  padding-left: 4px;
  padding-top: 5px;
  height: 8%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
}
.item-login-content{
  justify-content: center;
  color: black;
}
// ion-item {
//   color: black !important;
//   padding-bottom: 4px;
// }


#resetPassword{
  margin-top: 2%;
  size: 13px;
}

#btSin{
  background-color: #ff2e63; 
  margin-top: 4%; 
  height: 36px; 
  font-size: 14px;
  border: 2px solid #ff2e63;
  font-weight: 500;

}

