<div style="margin-top: 3%;">
  <h1> Cliquer sur les services pour accéder aux:</h1>
  <div style="display: inline-flex;">

    <p>
      <img style="border: 2px solid #4309e0; margin-top: 3%;" src="https://leconomiste.com/sites/default/files/eco7/public/test_covid-19_positifs_-_0.jpg" />
    </p>
    <ul>
      <li><span class="material-icons">
        coronavirus
      </span>
      Graphes des Contaminations</li>
      <li><span class="material-icons">
        coronavirus
      </span> Demandes déjà traités</li>
      <li><span class="material-icons">
        coronavirus
      </span> Demandes non traités</li>
    </ul>
  </div>


  </div>

