.card-header{
    background-color:#1A10AF;
    color: #fbe0c4;
    text-align: center;
    font-size: large;
    width: 100%;
}
.card{
    /* background-color: #1A10AF; */
    color: #1A10AF;
    border: solid 2px #1A10AF;
}

#btnP{
    background-color: #1A10AF;
    color: aliceblue;
}
#btnP :hover{
    background-color: #1A10AF;
}