<h1>Les demandes déjà traité </h1>
<div class="container" style="text-align: center;">
  <table class="table">
    <thead  style="background-color: #1A10AF; color: #fbe0c4;">
      <tr>
        <th scope="col">Id</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let obj of data">
        <td>{{obj.id}}</td>
        <td>
          <button class="button" routerLink="/voirInfos/{{obj.patient_id}}"><span>voir plus détails</span></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
